<footer>
  <div class="row">
    <div class="column">
      <h5>Your company name</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at autem eum explicabo itaque minus
        pariatur quae quisquam ut velit! </p>
    </div>
    <div class="column">
      <h5>Useful links</h5>
      <h6><a class="menu__link" [pageScrollDuration]="500" href="#about" pageScroll="">about</a></h6>
      <h6><a class="menu__link" [pageScrollDuration]="500" href="#business" pageScroll="">business</a></h6>
      <h6><a class="menu__link" [pageScrollDuration]="500" href="#technologies" pageScroll="">technologies</a></h6>
      <h6><a class="menu__link" [pageScrollDuration]="500" href="#contacts" pageScroll="">contacts</a></h6>
      <h6><a class="menu__link" [pageScrollDuration]="500" href="#cooperation" pageScroll="">cooperation</a></h6>
    </div>
    <div class="column">
      <h5>Social links</h5>
      <h6><a class="menu__link" >LinkedIn</a></h6>
      <h6><a class="menu__link" >GitHub</a></h6>
      <h6><a class="menu__link" >Facebook</a></h6>
      <h6><a class="menu__link" >Twitter</a></h6>
    </div>
  </div>
  <hr>
  <div class="row">
    <p>© 2019 - All rights reserved</p>
    <p><a [pageScrollDuration]="500" href="#top" pageScroll>Back to top </a></p>
  </div>
</footer>
