<nav class="menu__container">
  <div class="menu__column">
    <img class="menu__logo" src="./assets/img/logo.png" alt="logo">
  </div>
  <ul class="menu__column">
    <li class="menu__tab">
      <a class="menu__link" pageScroll [pageScrollDuration]="500" href="#about">about</a>
    </li>
    <li class="menu__tab">
      <a class="menu__link" pageScroll [pageScrollDuration]="500" href="#business">business</a>
    </li>
    <li class="menu__tab">
      <a class="menu__link" pageScroll [pageScrollDuration]="500" href="#technologies">technologies</a>
    </li>
    <li class="menu__tab">
      <a class="menu__link" pageScroll [pageScrollDuration]="500" href="#contacts">contacts</a>
    </li>
    <li class="menu__tab">
      <a class="menu__link" pageScroll [pageScrollDuration]="500" href="#cooperation">cooperation</a>
    </li>
  </ul>
</nav>
