@import "~src/app/mixins";

.menu__logo{
  height: 50%;
}
.menu__container{
  z-index: 1000000000000000000000;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  transition: .5s;
  height: 80px;
  @include flex-container(0 2rem, row, center, space-between);
  border-bottom: 1px solid rgba(250,250,250,.2);
}
.menu__column{
  @include flex-container(0, row, center, space-between);
  height: 80%;
}
.menu__tab{
  @include no-decoration;
  @include link(white, white, white, white);
}

$thetransition: all .5s ease-in;

.menu__link{
  @include no-decoration;
  padding: 30px 1rem;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--green-color);
    visibility: hidden;

    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
  &:hover:before {
    visibility: visible;
    width: 100%;
  }

}
.menu__btn{
  display: none;
}
.menu__offset{
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  border: none;
  background-color: var(--footer-bg-color);
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

@media all and (max-width: 768px) {
  .menu__container{
    height: 60px;
  }
  ul.menu__column{
    display: none;
  }
  .menu__column{
    overflow: hidden;
  }
}
